<ion-tabs>

  <ion-tab-bar slot="bottom" class="background">
    <ion-tab-button tab="tab1">
      <ion-icon src="assets/icon/cow.svg"></ion-icon>
      <ion-label>Herd</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" [disabled]="true">
      <ion-icon src="assets/icon/supermarket.svg"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" [disabled]="true">
      <ion-icon src="assets/icon/my-herd.svg"></ion-icon>
      <ion-label>AI Sires</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
