<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Herd</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
    <ion-chip color="light" outline slot="end" style="font-size: 15px; padding-right:5%;">
      <div *ngIf="hideSpinner == false">
        <ion-label>Loading..</ion-label>
      </div>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll="false" class="content">

  <div *ngIf="hideSpinner">
    <ion-virtual-scroll [items]="herd" class="ion-no-padding">
      <ion-list *virtualItem="let animal" class="ion-no-padding" mode="md">
        <ion-card >
          <ion-item lines="none">

            <div style="margin-top:-1%;" (click)="aniDetails(animal)">
              <ion-icon color="small" *ngIf="animal.sex == 'F'" src="assets/icon/cow.svg" style="font-size: 70px; margin-right: 3%; margin-bottom:-10%;" ></ion-icon>
              <ion-icon color="small" *ngIf="animal.sex == 'M'" src="assets/icon/bull.svg" style="font-size: 70px; margin-right: 3%; margin-bottom:-10%;" ></ion-icon>
              <ion-label *ngIf="animal.sex == 'F'" class="font" color="small" style="font-size: 20px; margin-right: 12%; text-align: center;">{{ animal.freeze_brand }}</ion-label>
              <ion-label *ngIf="animal.sex == 'M'" class="font" color="small" style="font-size: 20px; margin-right: 0%; text-align: center;">{{ animal.freeze_brand }}</ion-label>
            </div>

            <ion-label class="ion-no-margin">     
              <ion-grid style="padding-left: 1%;">
                <ion-row>
                  <ion-col (click)="aniDetails(animal)" size="2.3" style="padding-top:3.2%;">
                    <strong style="font-size: 14px !important;">Tag:</strong>
                  </ion-col>
                  <ion-col (click)="aniDetails(animal)" class="ion-align-self-start">
                    <ion-label class="detail" style="font-size: 14px !important;"><ion-icon color="tertiary" style="font-size: 16px !important; margin-top:0%;" name="pricetag-outline"></ion-icon> {{ animal.animal_number }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col (click)="aniDetails(animal)"  size="2.3" style="padding-top:3.2%;">
                    <strong style="font-size: 14px !important;">Sex:</strong>
                  </ion-col>
                  <ion-col (click)="aniDetails(animal)" class="ion-align-self-start">
                    <ion-label  class="detail" style="font-weight: 300;" style="font-size: 14px !important;">
                      <ion-icon *ngIf="animal.sex == 'M'" style="color: #3F95FF; font-size: 18px !important;" name="male-outline"></ion-icon> 
                      <ion-icon *ngIf="animal.sex == 'F'" style="color: #FF8EAC; font-size: 18px !important;" name="female-outline"></ion-icon> 
                      {{ animal.sex }}
                    </ion-label>
                  </ion-col>
                  <ion-col (click)="openSelectEventModal(animal)">
                    <ion-icon id="addIcon" color="primary" name="add-outline" style="float: right; font-size: 20px;"></ion-icon>
                    <!-- <ion-icon id="addIcon" (click)="openSelectEventModal(animal)" name="add" style="float: right; font-size: 20px;"></ion-icon> -->
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="animal.sex == 'F'">
                  <ion-col size="2.5" (click)="aniDetails(animal)" >
                    <strong style="font-size: 14px !important;">Lact:</strong>
                  </ion-col>
                  <ion-col class="ion-align-self-start" (click)="aniDetails(animal)" >
                    <ion-label class="detail" style="font-weight: 300; " style="font-size: 14px !important;"><span style=" margin-right: 2px; color: #30CF73">#</span> {{ animal.lactation }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="animal.sex == 'M'">
                  <ion-col size="2.5" (click)="aniDetails(animal)" >
                    <strong style="font-size: 14px !important;">Sire:</strong>
                  </ion-col>
                  <ion-col class="ion-align-self-start" (click)="aniDetails(animal)" >
                    <ion-label class="detail" style="font-weight: 300; " style="font-size: 14px !important;"><span style=" margin-right: 2px; color: #30CF73">#</span> {{ animal.sire_number }}</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-list>
    </ion-virtual-scroll>
  </div>
</ion-content>

